* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    display: list-item;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);

    overscroll-behavior-y: none;
}

#background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125vh;
    z-index: -1;
    background-color: rgb(255, 255, 255);
}
